.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5.5rem;
    background-color: $color-primary;

    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {

    width: 100%;
    margin-top: 8rem;
    height: 85vh;    
    
    background-image:                 
        url(./assets/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.8;
    
    position: relative;

    &__main {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.section-about {     
    width: 100%;
    min-height: 85vh;
    margin-top: 8rem; 
    padding: 4.5rem 3.5rem;     
}

.section-web {       
    margin-top: 8rem;
    padding: 4.5rem 3.5rem;
    min-height: 95vh;

    background-image: $gradient-primary-light;
}

.section-data {
    margin-top: 8rem;
    padding: 4.5rem 6.5rem;
    min-height: 85vh;
    background-color: $color-bg; 
}

// CONTACT PAGE
.section-contact {
    margin-top: 8rem;
    padding: 4.5rem 6.5rem;
    min-height: 85vh;
    // background-color: $color-bg; 

    position: relative;
}

.contact {

    &__video {
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        
        z-index: -1;
    }

    &__container {

        @include centerObj;
        
        margin-top: 4rem;
        padding: 2.5rem;

        display: flex;        
        justify-content: space-between;
        align-items: center;

        @include respond(mobile) {            
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
        }
    }

    &__link {
        text-align: center;
        position: relative;
        
        margin-right: 4.5rem;
    
        @include respond(tab-land) {            
            margin-bottom: 4.5rem;
        }           
    }

    &__icon {
        font-size: 10rem;
        color: $color-primary;

        &:hover {
            color: $color-primary-dark;
            cursor: pointer;
        }

    }

    &__text {
        margin-top: 2.5rem;
        text-align: center;
        text-transform: lowercase;
    }

}

.inactive {

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        font-size: 5rem;        
        left: -15px;
        top: -5px;
        border-radius: 50%;            
    }
}


// FOOTER
.footer {    
    margin: 8rem -3rem -3rem -3rem;     
    padding: 3.5rem 2.5rem;
    min-height: 1.5rem;
    color: $color-grey-light-1;
    text-align: center;

    background-color: $color-grey-dark-3; 
}


