.navbar {

    // &__logo {
    //     flex: 0 0 15%;

    // }

    &__music {    
        flex: 0 0 75%;
        margin-right: auto;        
        margin-left: 0.5rem;
    }
}

.nav {

    &__checkbox {
        position: fixed;
        top: 2rem;
        right: 3rem;
        display: none;
    }

    &__label {
        position: fixed;
        top: 0.5rem;
        right: 1.5rem;
        background-color: $color-white;
        z-index: 3000;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
    }

    &__icon {
        position: relative;

        &,
        &::before,
        &::after {            
            width: 2.5rem;
            height: 5px;
            display: inline-block;
            position: absolute;
            top: 2rem;
            left: 1rem;
            background-color: $color-primary-light;
            border-radius: 1rem;
            transition: all 0.2s;
            
        }

        &::before,
        &::after {
            content: "";
        }

        &::before {
            left: 0;
            top: -1rem;
        }

        &::after {
            left: 0;
            top: 1rem;
        }
    }

    &__label:hover &__icon::before { top: -1.2rem; }
    &__label:hover &__icon::after { top: 1.2rem; }


    &__checkbox:checked ~ &__label &__icon {background-color: transparent;}
    &__checkbox:checked ~ &__label &__icon::before {
        top: 0rem;
        transform: rotate(45deg);
    }
    &__checkbox:checked ~ &__label &__icon::after {
        top: 0rem;
        transform: rotate(-45deg);
    }

    &__background {
        position: fixed;
        top: 1rem;
        right: 2rem;
        background-image: 
            radial-gradient(
                $color-primary, 
                $color-primary-light);
        z-index: 2000;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;

        transition: all 0.4s;
    }

    &__contents {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;

        z-index: 2500;
        transition: all 0.4s;

        display: none;
        width: 0;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(200);
    }

    &__checkbox:checked ~ &__contents {
        display: inline-block;
        width: 100%;
    }

    &__list {   
        width: 80%;
        list-style: none;
        @include centerObj;

        &-item {            
            text-transform: uppercase;
            text-align: center;
            font-weight: 300;
            font-size: 3rem;
            letter-spacing: 3px;
            margin-bottom: 3.5rem;
            border-radius: 10px;

            padding: 2.5rem 3.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            font-size: 3rem;
            padding: 0.5rem 1.5rem;
            background-image: 
                linear-gradient(105deg, 
                    transparent 0%, 
                    transparent 50%, 
                    $color-secondary-light 50%);
            background-size: 220%;
            transition: all 0.4s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
        }
    }
}