@mixin centerObj {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin centerTop {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
@mixin centerBottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}


// media query manager
/* desktop-first approach (max-width)
    - 600px : mobile (mobile)
    - 900px : tablet-portrait (tab-port)
    - 1200px : tablet-landscape (tab-land)
    - [1800px : default]
    - above : big desktop (big-desk)
*/


@mixin respond($device) {
    @if($device == mobile) {
        @media only screen and (max-width:37.5em) {@content};  // below 600px
    }
    @if($device == tab-port) {
        @media only screen and (max-width:56.25em) {@content}; // 600 - 900px
    }
    @if($device == tab-land) {
        @media only screen and (max-width:75em) {@content}; // 900 - 1200px
    }
    @if($device == big-desk) {
        @media only screen and (min-width: 112.5em) {@content}; // above 1800px
    }
}

