.heading__primary {

    color: $color-grey-light-2;
    
    width: 100%;
    padding: 2.5rem 4.5rem;    
        
    background-image: $gradient-primary-light;;

    &--title {
        display: block;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        
        animation: cubic-bezier(1,0,0,1) 0.8s moveInRight;
    }

    &--tagline {
        display: block;
        font-size: $font-lg;
        animation: cubic-bezier(1,0,0,1) 0.8s moveInLeft;
    }
}

.heading__secondary {
    color: $color-grey-dark-3;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1.5rem auto;       
    

    &--title {           
        margin: 4rem 0;
        padding: 0.5rem;         
        display: block;
        text-transform: uppercase;
        margin-bottom: 2.5rem;        
        font-size: 3.5rem;                  
    }

    &--tagline {
        display: block;
        font-size: $font-lg;             
    }

    &--green:hover {        
        background-image: $gradient-primary;
        -webkit-background-clip: text;
        color: transparent;        
    }

    &--yellow:hover {
        background-image: $gradient-secondary;
        -webkit-background-clip: text;
        color: transparent;
    }

}

.heading__tertiary {
    
    color: $color-grey-dark-3;
    text-transform: uppercase;
    font-size: $font-lg;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 1.5rem 0.5rem;    
    margin-bottom: 3.5rem;    
}

