/* 

#FFD449 // mustard
#FEFEE3 // light yellow
#Eff1C5 // pale spring bud
#A2A77F // artichoke
#E3E7AF // pale spring bud
#F4F2DD
#F2F2F0

#293F14 // forest green
#386C0B // pakistan green
#38A700 // yellow green 
#548C2F // maximum green
#104911 // lincoln green
#2C6E49 // dark spring green
#4C956C // green cyan
*/

// COLOR
$color-primary: #2c5f2d; 
$color-primary-light: #548C2F; // maximum green
$color-primary-light-2 : #38A700;
$color-primary-dark: #104911; // lincoln green
$color-secondary: #ffe77a;
$color-secondary-light: #e7dc74;
$color-secondary-dark: #ffb900;

$color-bg: #fafaed;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$gradient-primary:  linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));
$gradient-secondary: linear-gradient(to right bottom, rgba($color-secondary-light, 1), rgba($color-secondary-dark, 1));

// FONT
$default-font-size: 1.6rem;
$font-lg: 2rem;
$font-md: 1.2rem;
$font-sm: 1rem;


// BOX SHADOW   
$default-box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.4);
$box-shadow-light: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.2);


// MARGINS
.mt-lg { margin-top: 8rem; }
.mt-md { margin-top: 6rem; }
.mt-sm { margin-top: 4rem; }
.mb-lg { margin-bottom: 8rem; }
.mb-md { margin-bottom: 6rem; }
.mb-sm { margin-bottom: 4rem; }
.mr-lg { margin-right: 8rem; }
.mr-md { margin-right: 6rem; }
.mr-sm { margin-right: 4rem; }
.mr-xs { margin-right: 2rem; }
.ml-lg { margin-left: 8rem; }
.ml-md { margin-left: 6rem; }
.ml-sm { margin-left: 4rem; }
.ml-xs { margin-left: 2rem; }
