.box { 

    &__container {   
        margin-top: 4.5rem;     
        padding: 2.5rem 1.5rem;
        display: grid;
        grid-template-row: repeat(3, 1fr);
        grid-gap: 3.5rem;
    }

    &__item {
        
        width: 100%;        
        
        // background-color: $color-bg;
        border-radius: 15px;
        box-shadow: $default-box-shadow;

        padding: 2.5rem 1.5rem;
        color: $color-grey-light-2;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-image: 
            linear-gradient(
                105deg, 
                rgba($color-primary-light, 0.8) 0%, 
                rgba($color-primary, 0.8) 32.5%, 
                rgba($color-white, 1) 32.5%);
        background-size: 100%;

        &:not(:last-child) {
            margin-right: 5rem;
        }
        
        @include respond(tab-land) {            
            flex-direction: column;
            align-items: space-between;
            justify-content: center;

            height: 100%;  
            padding: 2.5rem;            

            background-image: 
            linear-gradient(
                180deg, 
                rgba($color-primary-light, 0.8) 0%, 
                rgba($color-primary, 0.8) 32.5%, 
                rgba($color-white, 1) 32.5%);
        }

        @include respond(mobile) {
            min-height: 65rem;

            background-image: 
            linear-gradient(
                180deg, 
                rgba($color-primary-light, 0.8) 0%, 
                rgba($color-primary, 0.8) 30%, 
                rgba($color-white, 1) 30%);
        }
    }

    // HEADER PART : TITLE INSIDE THE BOX 
    &__header {
        flex: 0 0 35%;
        min-height: 10rem;
    
        @include respond(tab-land) {
            text-align: center;
            padding: 2.5rem;
        }
    
    }

    &__title {        
        text-transform: uppercase;
        color: $color-grey-light-1;
    }

    &__tagline {    
        background: $color-primary-dark;        
        text-transform: lowercase;
        padding: 0.2rem 0.5rem;    
        margin-top: 1.5rem;
    }

    // CONTENT PART 

    &__content {
        display: flex;       
        flex: 1;    
        
        @include respond(tab-land) {            
            margin-top: 2.5rem;
            padding: 1.5rem;
            
            display: flex;
            flex-direction: column;
        }

        @include respond(mobile) {
            margin-top: 5.5rem;
        }
    }

    &__list {

        flex: 0 0 70%;
        list-style: none;    
        padding: 0 2.5rem;            

        &--item {
            overflow-x: hidden;     
            font-size: $default-font-size;  
        }

        &--icon {
            font-size: inherit;
            color: $color-secondary-dark;            
        }
        
        &--text {
            font-size: inherit;
            color: $color-grey-dark-3;            
        }
    }

    &__link {

        flex: 1;
        color: $color-grey-dark-3;    

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      

        @include respond(tab-land) {            
            margin: 2.5rem auto;
        }

        @include respond(mobile) {
            margin-top: 5.5rem;
        }
    }

    &__text {
        text-transform: lowercase;
    }

    &__desc {
        margin-top: 2.5rem;
        text-align: center;

        & > *:not(:last-child) {
            margin-right: 5rem;
        }

        & > * {
            display: block;
            text-align: left;
            margin-left: 7.5rem;
        }
    }
}