.card { 
    position: relative;    
    -webkit-perspective: 1000;
    perspective: 1000;

    width: 25rem;
    height: 25rem;   
    
    overflow: hidden;  
    background-color: $color-bg;
    border-radius: 15px;
    box-shadow: $default-box-shadow;

    &:not(:last-child) {
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &__side {            
    
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;

        width: 100%;
        height: 25rem;        
        
        position: absolute;    
        display: flex;
        justify-content: center;    
        align-items: center;

        border-radius: 15px;

        transition: all 0.6s ease-out 0.2s;

        &--back {    
            transform: rotateY(180deg);         
            text-align: left;         
            padding: 0 1.5rem;      
        }
    }
                    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
    
    &__heading {    
        width: 90%;             
        color: $color-grey-light-1;
        text-align: center;    
        z-index: 100;       
        // background: $color-primary-dark;     
        background-image: $gradient-primary;
    }

    &__para {    
        color: $color-grey-light-1;
        text-align: center;    
        z-index: 100;               
    }

    &__image {
        position: absolute;
        opacity: 0.6;
        width: 100%;
    }
}
