.popup {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;    

    background-color: rgba($color-black, 0.4);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);

    &__container {
    
        width: 80%;
        @include centerObj;
    }

    &__contents {
        position: relative;
        min-height: 30rem;
        background-color: $color-secondary-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > *:not(:last-child) {
            margin-bottom: 3.5rem;            
        }
    }

    &__text {
        position: relative;
        display: flex;        
        align-items: center;
        font-size: $default-font-size;
        text-transform: lowercase;
    }

    &__link {        

        width: 15rem;
        display: flex;      
        justify-content: space-between;  
        align-items: center;
    }

    &__close {
        position: absolute;
        right: 2.5rem;
        top: 2.5rem;
        font-size: 3.5rem;
        color: $color-grey-dark;
    }

}